@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

:root {
  --redcol: #b82c37;
  --whitecol: #fafafa;
  --bluecol: #1d3557;
  --creamcol: #fcecc9;
}

body {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background-color: var(--whitecol);
  margin: 0%;
  padding: 0%;
}
html,
body {
  height: 100%;
  margin: 0;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
}

a {
  position: absolute;
  padding: 10px;
  color: var(--redcol);
  font-size: 1.2em;
  top: 2%;
  left: 2%;
}
a:link {
  text-decoration: none;
}

h1 {
  color: var(--bluecol);
  text-align: center;
}
#search-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-button input {
  padding: 10px;
  width: 30vw;
  border-radius: 8px;
}
#search-button button {
  padding: 10px;
  border-radius: 8px;
  width: 5rem;
  background-color: var(--redcol);
  color: var(--creamcol);
}
#search-button button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--redcol);
  cursor: pointer;
}
#filmPoster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  column-gap: 0px;
  row-gap: 10px;
  border: 3px solid var(--bluecol);
  border-radius: 6px;
  padding: 10px;
  background-color: var(--creamcol);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--redcol);
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-card p {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  color: var(--bluecol);
}

.movie-card button {
  padding: 10px;
  border-radius: 8px;
  background: var(--redcol);
  color: var(--creamcol);
  margin: auto;
}
.movie-card button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--redcol);
  cursor: pointer;
}

#loadMore {
  display: flex;
  justify-content: center;
  align-items: center;
}
#loadMoreBtn {
  padding: 10px;
  border-radius: 8px;
  background: var(--redcol);
  color: var(--creamcol);
  margin-bottom: 1%;
}
#loadMoreBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--redcol);
  cursor: pointer;
  margin-bottom: 1%;
}

footer {
  background-color: var(--redcol);
  padding: 1%;
  margin-top: auto;
}
footer h3,
footer p {
  color: var(--creamcol);
}
